<div>
	<!-- on utilise la variable de template pour récupérer valeur formulaire -->
	<form #searchForm="ngForm" (ngSubmit)="searchJobs(searchForm.value)">
		<input type="text" ngModel class="search-input" name="term" required placeholder="Angular, React, Node, ..." />
		<input type="text" ngModel class="search-input" name="place" placeholder="Rennes, Brest, ..." />
		<button type="submit" class="btn btn-success" [disabled]="searchForm.invalid">chercher</button>
		<!-- [disabled] car variable à droite -->
	</form>
</div>